<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
    <h2>ویرایش جلسه</h2>
</div>
<form class="form-horizontal" action="/admin/panel/episodes/edit/<%= episode._id %>?_method=put" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <%- include(viewDir("layouts/showMessage")) -%>

    <div class="form-group row mb-3">
        <div class="col">
            <label for="title" class="control-label font-weight-bold mb-1">عنوان جلسه</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="ایجاد سیستم error handler"
                   value="<%= oldData('title', episode.title) %>" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <div class="col">
            <label for="course" class="control-label font-weight-bold mb-1">دوره مربوطه</label>
            <select name="course" id="course" class="form-control" required>
                <option value="none">انتخاب دوره</option>
                <% for (const course of courses) { %>
                    <option value="<%= course._id %>"
                            <%= String(oldData('course', course._id)) === String(episode.course._id) ? 'selected' : '' %>>
                        <%= course.title %>
                    </option>
                <% } %>
            </select>
        </div>

        <div class="col">
            <div class="d-grid align-items-baseline align-content-center" id="uploadFiled"
                 style="grid-template-columns: 70% 30%;">
                <div>
                    <label for="file" class="control-label font-weight-bold mb-1">انتخاب فایل</label>
                    <input type="file" accept="video/*" class="form-control" name="file" id="file">
                </div>
                <button type="button" class="btn btn-primary" id="uploadFile"
                        style="margin: auto 7% 0 0;">آپلود فایل
                </button>
            </div>
            <div id="progressDiv" class="mt-2" style="display: none">
                <div class="progress">
                    <div
                            id="progressBar"
                            class="progress-bar progress-bar-striped progress-bar-animated"
                            role="progressbar"
                            aria-valuemin="0"
                            aria-valuemax="100"
                    ></div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col">
            <label for="time" class="control-label font-weight-bold mb-1">زمان جلسه</label>
            <input type="text" class="form-control" name="time" id="time" readonly placeholder="02:15:35"
                   value="<%= oldData('time', episode.time) %>" required>
        </div>

        <div class="col">
            <label for="episodeUrl" class="control-label font-weight-bold mb-1">آدرس فایل</label>
            <input type="text" readonly class="form-control dir-ltr text-end" name="episodeUrl" id="episodeUrl"
                   value="<%= oldData('episodeUrl', episode.episodeUrl) %>" required>
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col">
            <label for="description" class="control-label font-weight-bold mb-1">توضیحات</label>
            <textarea rows="15" class="form-control" name="description" id="description"
                      placeholder="توضیحات جلسه" required><%= oldData('description', episode.description) %></textarea>
        </div>
    </div>
    <div class="form-group row mb-3">
        <div class="col">
            <label for="paymentType" class="control-label font-weight-bold mb-1">نوع دوره</label>
            <select name="paymentType" id="paymentType" class="form-control" required>
                <option value="none">انتخاب نوع پرداخت</option>
                <option value="vip" <%= oldData('paymentType', episode.paymentType) === 'vip' ? 'selected' : '' %>>
                    اعضای ویژه
                </option>
                <option value="cash" <%= oldData('paymentType', episode.paymentType) === 'cash' ? 'selected' : '' %>>
                    نقدی
                </option>
                <option value="free" <%= oldData('paymentType', episode.paymentType) === 'free' ? 'selected' : '' %>>
                    رایگان
                </option>
            </select>
        </div>
        <div class="col">
            <label for="episodeNumber" class="control-label font-weight-bold mb-1">شماره جلسه</label>
            <input type="text" class="form-control" name="episodeNumber" id="episodeNumber"
                   value="<%= oldData('episodeNumber', episode.episodeNumber) %>" placeholder="شماره جلسه را وارد کنید"
                   required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-danger">ارسال</button>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        // Replace the <textarea> with a CKEditor 4
        // instance, using default configuration.
        CKEDITOR.replace('description', {
            filebrowserUploadUrl: '/admin/panel/ckEditor-uploader',
            contentsLangDirection: "rtl"
        });

        $("#uploadFile").on("click", () => {
            const course = $("#course");

            if (course.val() === "none")
                return alert("ابتدا یک دوره را انتخاب کنید");

            let xHttp = new XMLHttpRequest();

            const files = $('#file')[0].files;
            const progressDiv = $("#progressDiv");
            const progressBar = $("#progressBar");
            const timeFiles = $("#time");
            const episodeUrlFiles = $("#episodeUrl");

            if (files.length > 0) {
                xHttp.onreadystatechange = function () {
                    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                        const response = JSON.parse(this.response);
                        timeFiles.val(response.duration);
                        episodeUrlFiles.val(response.filePath);

                    } else if (this.readyState === XMLHttpRequest.DONE && this.status !== 200) {
                        alert(this.responseText)
                    }
                };

                xHttp.open("POST", "/admin/panel/episodes/upload");

                xHttp.upload.onprogress = function (e) {
                    if (e.lengthComputable) {
                        let result = Math.floor((e.loaded / e.total) * 100);
                        if (result !== 100) {
                            progressBar.html(result + "%");
                            progressBar.css("width", result + "%");
                        } else {
                            progressDiv.hide();
                        }
                    }
                };

                let formData = new FormData();
                formData.append('video', files[0]);
                formData.append('course', course.val());
                progressDiv.show();
                xHttp.send(formData);
            } else {
                alert("ابتدا فایلی را جهت آپلود انتخاب کنید")
            }
        });
    });
</script>