<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>کاربران</h2>
    <div class="btn-group">
        <a href="/admin/panel/users/create" class="btn btn-sm btn-primary me-1">افزودن کاربر</a>
        <a href="/admin/panel/roles" class="btn btn-sm btn-success">مدیریت نقش ها</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>کد شناسایی</th>
            <th>نام کاربر</th>
            <th>ایمیل</th>
            <th>نقش</th>
            <th>تاریخ عضویت</th>
            <th>تنظیمات</th>
        </tr>
        </thead>
        <tbody>
        <% if (users.docs.length > 0){ %>
            <% for (const user of users.docs) { %>
                <tr>
                    <th scope="row"><%= users.pagingCounter %></th>
                    <th><%= user.hashId %></th>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role ? user.role.label : user.admin ? "ادمین فاقد دسترسی" : "کاربر" %></td>
                    <td><%= convertDate(user.createdAt).format('jDD - jMMMM - jYYYY') %></td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <% if(canEditUser) { %>
                                <a href="/admin/panel/users/edit/<%= user._id %>"
                                   class="btn btn-primary me-1">ویرایش</a>
                            <% } %>

                            <% if(canChangeAdminAccess) { %>
                                <form action="/admin/panel/users/toggle-admin/<%= user._id %>?_method=PATCH"
                                      method="post">
                                    <input type="hidden" name="_token" value="Dso45XzqoXsAkRC8BBMQ63ZsOFS0c2tELkxR4i3Y">
                                    <button type="submit" class="btn btn-secondary me-1">
                                        <%= user.admin ? "لغو ادمین" : "دسترسی ادمین" %>
                                    </button>
                                </form>
                            <% } %>

                            <% if(canChangeRoles && user.admin) { %>
                                <a href="/admin/panel/users/roles/<%= user._id %>"
                                   class="btn btn-success me-1">ویرایش نقش کاربر</a>
                            <% } %>

                            <% if(canDeleteUser) { %>
                                <form action="/admin/panel/users/delete/<%= user._id %>?_method=DELETE" method="post">
                                    <input type="hidden" name="_token" value="Dso45XzqoXsAkRC8BBMQ63ZsOFS0c2tELkxR4i3Y">
                                    <button type="submit" class="btn btn-danger">حذف</button>
                                </form>
                            <% } %>
                        </div>
                    </td>
                </tr>
            <%
                +users.pagingCounter++
            }
            %>
        <% }else { %>
            <tr>کاربری برای نمایش وجود ندارد</tr>
        <% } %>
        </tbody>
    </table>

    <%- include(viewDir("layouts/pagination"), {pagination:users}) -%>

</div>