<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
    <h2>مدیریت دسترسی های کاربر</h2>
</div>
<form class="form-horizontal" action="/admin/panel/users/roles/<%= user._id %>?_method=patch" method="post">

    <%- include(viewDir("layouts/showMessage")) -%>

    <div class="form-group row mb-3">
        <div class="col">
            <label for="userFullName" class="control-label font-weight-bold mb-1">نام کاربر</label>
            <input type="text" class="form-control" name="userFullName" id="userFullName" value="<%= user.name %>"
                   required disabled>
        </div>
        <div class="col">
            <label for="userEmail" class="control-label font-weight-bold mb-1">ایمیل کاربر</label>
            <input type="text" class="form-control" name="userEmail" id="userEmail" value="<%= user.email %>"
                   required disabled>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="roles" class="control-label font-weight-bold mb-1">سطوح دسترسی</label>
        <select name="roles" id="roles" class="form-control form-control-chosen"
                data-placeholder="انتخاب سطوح دسترسی" multiple>
            <% for (const role of roles){ %>
                <option value="<%= role._id %>"
                        <%= oldData("roles", user.roles).indexOf(role._id) !== -1 ? 'selected' : '' %> >
                    <%= role.label %>
                </option>
            <% } %>
        </select>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-danger">ارسال</button>
        </div>
    </div>
</form>


<link rel="stylesheet" href="/css/admin/component-chosen.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>
<script>
    $('.form-control-chosen').chosen({
        // Chosen options here
    });
</script>