<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mb-3"><%= course.title %></h1>

        <!-- Author -->
        <p class="text-muted small">
            <span> توسط <a href="#"><%= course.user.name %></a></span>
            -
            <span>ارسال شده در <%= convertDate(course.createdAt).format('jDD jMMMM jYYYY') %> </span>
        </p>

        <hr>
        <!-- Post Content -->
        <div id="content" class="justify">
            <%- course.description %>
        </div>
        <hr>

        <!-- check payment status for course -->
        <% if(auth.loginCheck) { %>
            <% if(course.paymentType == 'vip') { %>
                <% if (!canUserUse){ %>
                    <div class="alert alert-danger">برای مشاهده این دوره نیاز است عضویت ویژه را تهیه کنید</div>
                <% } else { %>
                    <div class="alert alert-success">شما به محتوای این دوره دسترسی دارید</div>
                <% } %>
            <% } else if (course.paymentType == 'cash'){ %>
                <% if (!canUserUse){ %>
                    <div class="alert alert-danger">برای مشاهده این دوره نیاز است به صورت نقدی دوره راه تهیه کنید</div>
                <% } else{ %>
                    <div class="alert alert-success">شما به محتوای این دوره دسترسی دارید</div>
                <% } %>
            <% } else { %>
                <div class="alert alert-success">شما به محتوای این دوره دسترسی دارید</div>
            <% } %>
        <% } else { %>
            <div class="alert alert-danger">برای مشاهده این دوره نیاز است ابتدا وارد سایت شوید</div>
        <% } %>

        <h3>قسمت های دوره</h3>
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th>شماره قسمت</th>
                <th>عنوان قسمت</th>
                <th>زمان قسمت</th>
                <th>وضعیت</th>
                <th>دانلود</th>
            </tr>
            </thead>
            <tbody>
            <% for(const episode of course.episodes){ %>
                <tr>
                    <th><%= episode.episodeNumber %></th>
                    <td><a href="<%= episode.episodeLink %>"><%= episode.title %></a></td>
                    <td><%= episode.time %></td>
                    <% if(auth.loginCheck) { %>
                        <% if(episode.paymentType == 'vip') { %>
                            <% if (!canUserUse){ %>
                                <td><span data-feather="lock"></span></td>
                                <td><a href="#">دانلود</a></td>
                            <% } else { %>
                                <td><span data-feather="unlock"></span></td>
                                <td><a href="/episodes/download?e=<%= episode._id %>">دانلود</a></td>
                            <% } %>
                        <% } else if (episode.paymentType == 'cash'){ %>
                            <% if (!canUserUse){ %>
                                <td><span data-feather="lock"></span></td>
                                <td><a href="#">دانلود</a></td>
                            <% } else{ %>
                                <td><span data-feather="unlock"></span></td>
                                <td><a href="/episodes/download?e=<%= episode._id %>">دانلود</a></td>
                            <% } %>
                        <% } else { %>
                            <td><span data-feather="unlock"></span></td>
                            <td><a href="/episodes/download?e=<%= episode._id %>">دانلود</a></td>
                        <% } %>
                    <% } else { %>
                        <td><span data-feather="lock"></span></td>
                        <td><a href="#">دانلود</a></td>
                    <% } %>
                </tr>
            <% } %>
            </tbody>
        </table>

        <%- include(viewDir("layouts/comments"), {subject:course, comments:course.comments, section:"course"}) -%>

    </div>

    <!-- Blog Sidebar Widgets Column -->

    <div class="col-md-4">

        <div class="card my-4">
            <div class="card-body">
                <% if(auth.loginCheck) { %>
                    <% if(course.paymentType == 'vip') { %>
                        <% if (!canUserUse){ %>
                            <p>برای مشاهده این دوره نیاز است عضویت ویژه را تهیه کنید</p>
                            <a class="btn btn-success btn-sm" href="#">شارژ اکانت</a>
                        <% } else { %>
                            <div class="alert alert-success">شما به محتوای این دوره دسترسی دارید</div>
                        <% } %>
                    <% } else if (course.paymentType == 'cash'){ %>
                        <% if (!canUserUse){ %>
                            <p>برای استفاده از این دوره نیاز است این دوره را با مبلغ 60000 تومان خریداری کنید</p>
                            <form action="/course/payment" method="post">
                                <input type="hidden" name="course_id" value="5b1e4a0ac4cf2d675052a78a">
                                <button type="submit" class="btn btn-success">خرید دوره</button>
                            </form>
                        <% } else{ %>
                            <div class="alert alert-success">شما به محتوای این دوره دسترسی دارید</div>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <p>برای تهیه این دوره نیاز است ابتدا وارد سایت شوید</p>
                    <a class="btn btn-success btn-sm" href="/auth/login">ورود</a>
                <% } %>
            </div>
        </div>


        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">جستجو</h5>
            <div class="card-body">
                <form class="input-group" action="/courses" method="GET">
                    <input type="text" class="form-control" name="search" placeholder="دنبال چی میگردی ؟">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit">جستجو!</button>
                    </span>
                </form>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">دسته بندی ها</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <ul class="list-unstyled pr-0">
                            <% for (const category of categories){ %>
                                <li>
                                    <a href="/courses?category=<%= category.slug %>"><%= category.name %></a>
                                    <% if(category.childes) { %>
                                        <ul>
                                            <% for (const cate of category.childes) { %>
                                                <li>
                                                    <a href="/courses?category=<%= cate.slug %>"><%= cate.name %></a>
                                                </li>
                                            <% } %>
                                        </ul>
                                    <% } %>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>