<nav class="col-md-2 d-none d-md-block bg-light sidebar dir-rtl">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link <%= isActive("/admin/panel", true) %>" href="/admin/panel/">
                    <span data-feather="home"></span>
                    <%= t("dashboard") %>
                </a>
            </li>
            <% if (hasPermission.showCourses) { %>
                <li class="nav-item">
                    <a class="nav-link <%= isActive("/admin/panel/courses") %>"
                       href="/admin/panel/courses">
                        <span data-feather="shopping-cart"></span>
                        <%= t("courses") %>
                    </a>
                </li>
            <% } %>
            <% if (hasPermission.showComments) { %>
                <li class="nav-item">
                    <a class="nav-link <%= isActive("/admin/panel/comments") %>" href="/admin/panel/comments">
                        <span data-feather="layers"></span>
                        <%= t("comments") %>
                    </a>
                </li>
            <% } %>
            <% if (hasPermission.showCategories) { %>
                <li class="nav-item">
                    <a class="nav-link <%= isActive("/admin/panel/categories") %>" href="/admin/panel/categories">
                        <span data-feather="grid"></span>
                        <%= t("categories") %>
                    </a>
                </li>
            <% } %>
            <% if (hasPermission.showUsers) { %>
                <li class="nav-item">
                    <a class="nav-link <%= isActive("/admin/panel/users") %>" href="/admin/panel/users">
                        <span data-feather="users"></span>
                        <%= t("users") %>
                    </a>
                </li>
            <% } %>
            <% if (hasPermission.showRoles) { %>
                <li class="nav-item">
                    <a class="nav-link <%= isActive("/admin/panel/roles") %>" href="/admin/panel/roles">
                        <span data-feather="alert-octagon"></span>
                        <%= t("roles_management") %>
                    </a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    <%= t("orders") %>
                </a>
            </li>
        </ul>
    </div>
</nav>