<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>دوره ها</h2>
    <div class="btn-group">
        <a href="/admin/panel/courses/create" class="btn btn-sm btn-primary" style="margin-left: 5px !important;">ایجاد
            دوره جدید</a>
        <a href="/admin/panel/courses/episodes" class="btn btn-sm btn-danger">بخش ویدیوها</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>کد شناسایی دوره</th>
            <th>عنوان دوره</th>
            <th>تعداد نظرات</th>
            <th>مقدار بازدید</th>
            <th>وضعیت دوره</th>
            <th>تنظیمات</th>
        </tr>
        </thead>
        <tbody>
        <% for (const course of courses.docs) { %>
            <tr>
                <td><%= course.hashId %></td>
                <td><a href="<%= course.slug %>"><%= course.title %></a></td>
                <td><%= course.commentCount %></td>
                <td><%= course.viewCount %></td>
                <td>
                    <%= course.paymentType %>
                </td>
                <td>
                    <form action="#" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="Dso45XzqoXsAkRC8BBMQ63ZsOFS0c2tELkxR4i3Y">
                        <div class="btn-group btn-group-sm">
                            <a href="/admin/courses/2/edit" class="btn btn-primary"
                               style="margin-left: 5px !important;">ویرایش</a>
                            <button type="submit" class="btn btn-danger">حذف</button>
                        </div>
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>

    <%- include(viewDir("layouts/pagination"), {pagination:courses}) -%>

</div>

